body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #87CEEB;
    /* Sky blue background */
}

#game-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #87CEEB;
    /* Sky blue */
}

#game-container i {
    position: absolute;
    font-size: 5rem;
    color: #000;
    animation: colorChange 5s linear infinite;
}

#fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

/* Cloud styling */
.cloud {
    position: absolute;
    width: 100px;
    height: 60px;
    background: #fff;
    border-radius: 50px;
    opacity: 0.8;
    animation: moveClouds 60s linear infinite;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.cloud::before {
    top: -30px;
    left: 10px;
}

.cloud::after {
    top: -20px;
    right: 10px;
}

/* Slow-moving cloud animation */
@keyframes moveClouds {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}

/* Letter styling and color changing */
.letter {
    position: absolute;
    font-size: 5rem;
    color: white;
    animation: colorChange 5s linear infinite;
}



@keyframes colorChange {

    0%,
    100% {
        color: red;
    }

    50% {
        color: blue;
    }
}
